/* 1. Fixed Syntax: Removed ", sans-serif" from the name */
/* 2. Fixed Weight: Added specific range 100 900 for the variable font */
@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  font-optical-sizing: auto;
  src:
    url("/assets/fonts/JosefinSans-VariableFont_wght.woff2") format("woff2"),
    url("/assets/fonts/JosefinSans-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "Josefin Sans Italic";
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  font-optical-sizing: auto;
  src:
    url("/assets/fonts/JosefinSans-Italic-VariableFont_wght.woff2")
      format("woff2"),
    url("/assets/fonts/JosefinSans-Italic-VariableFont_wght.woff")
      format("woff");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  font-variation-settings: "wdth" 100;
  font-optical-sizing: auto;
  src: url("/assets/fonts/Inconsolata.woff2") format("woff2");
}

@font-face {
  font-family: "DotGothic16";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
  font-optical-sizing: auto;
  src: url("/assets/fonts/DotGothic16.woff2") format("woff2");
}
