@mixin light-color-scheme() {
  --color-bg: #fef6e4;
  --color-bg-offset: #f3e1d8;
  --color-text: #172c66;
  --color-text-offset: #006e8a;
  --color-border: #f3d2c1;
  --color-primary: #a60c49;
  --color-primary-offset: #ff3d6a;
  --color-secondary: #65cafe;
}

@mixin dark-color-scheme() {
  --color-bg: #463366;
  --color-bg-offset: #5c3c4c;
  --color-text: #c9bae2;
  --color-text-offset: #b8c1ec;
  --color-border: #cabae2;
  --color-primary: #ff6e6c;
  --color-primary-offset: #72a194;
  --color-secondary: #abd1c6;
}

:root {
  // 1. Default to Light
  --color-scheme: "light";
  color-scheme: light; // Needed for Shiki
  @include light-color-scheme();

  // 2. Manual Override (.theme-dark class)
  &.theme-dark {
    --color-scheme: "dark";
    color-scheme: dark;
    @include dark-color-scheme();
  }
}

// 3. System Preference Override
// CRITICAL FIX: We use ':root' here instead of 'html' so it has enough
// specificity to override the default block above.
@media (prefers-color-scheme: dark) {
  :root {
    --color-scheme: "dark";
    color-scheme: dark;
    @include dark-color-scheme();
  }
}
