<footer class="footer" role="contentinfo">
  <div class="footer__inner container">
    <p class="footer__item">
      <strong>&copy; {{ build.timestamp | dateToFormat('yyyy') }}</strong><br />
      <a class="p-name u-url" rel="me" href="{{ site.url }}">{{
        author.name
      }}</a>
      ·
      {% if build.git %}
        <a
          href="https://github.com/{{ author.username }}/{{ site.host }}/commit/{{ build.git }}"
        >{{ build.git | slice(0, 7) }}</a>
      {% endif %}
    </p>
    <p class="footer__item footer__item--right u-desktop-only">
      <a
        href="https://speedlify.{{ site.host }}/{{ site.host }}/"
        class="footer__speedlify"
      >
        <speedlify-score
          speedlify-url="https://speedlify.{{ site.host }}"
          hash="1abcb16"
          score
          weight
        ></speedlify-score>
      </a>
    </p>
    <p class="footer__item footer__item--right">
      <a
        href="https://github.com/{{ author.username }}/{{ site.host }}/tree/main/{{ page.inputPath }}"
        class="footer__icon"
        title="Edit this page on GitHub"
      >
        <span class="sr-only">Edit this page on GitHub</span>
        {% icon "github" %}
      </a>
      <a href="{{ "/feed.atom" | url }}" class="footer__icon" title="RSS Feed">
        <span class="sr-only">RSS Feed</span>
        {% icon "rss" %}
      </a>
    </p>
  </div>
</footer>
