<header class="header" role="banner">
  <div class="header__inner container">
    <a class="header__left" href="/" rel="home">
      <span>{{ site.host }}</span>
    </a>
    <div class="header__nav">{% include "navigation.njk" %}</div>
  </div>
</header>
