{# SEO Stuff #}
{% include 'seo.njk' %}

{# Favicon #}
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/assets/images/favicon/apple-touch-icon.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ '/assets/images/favicon/favicon-32x32.png' | url }}"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/png"
  href="{{ '/assets/images/favicon/favicon-16x16.png' | url }}"
  sizes="16x16"
/>
<link
  rel="shortcut icon"
  href="{{ '/assets/images/favicon/favicon.ico' | url }}"
/>
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
{%- set defaultTheme = themes | findById('default') -%}
{%- set darkTheme = themes | findById('dark') -%}
<!-- Light mode -->
<meta
  name="theme-color"
  content="{{ defaultTheme.colors.background }}"
  media="(prefers-color-scheme: light)"
/>
<!-- Dark mode -->
<meta
  name="theme-color"
  content="{{ darkTheme.colors.background }}"
  media="(prefers-color-scheme: dark)"
/>

{# RSS Feed #}
<link
  type="application/atom+xml"
  rel="alternate"
  href="{{ meta.url }}/feed.atom"
  title="{{ meta.title }}"
/>

{# https://github.com/darkreader/darkreader/blob/main/CONTRIBUTING.md#disabling-dark-reader-on-your-site #}
<meta name="darkreader-lock" />

{# Indie Auth #}
<link rel="authorization_endpoint" href="https://indieauth.com/auth" />
<link rel="token_endpoint" href="https://tokens.indieauth.com/token" />

{# Webmentions #}
<link rel="pingback" href="https://webmention.io/{{ site.host }}/xmlrpc" />
<link
  rel="webmention"
  href="https://webmention.io/{{ site.host }}/webmention"
/>

{# 11ty <3 #}
<meta name="generator" content="{{ eleventy.generator }}" />
