<li class="status">
  {% icon "headphones" %}
  <span data-chars="X" data-status="">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
</li>

<li class="status">
  {% icon "gamepad" %}
  <span data-chars="X" data-status="">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</span>
</li>
