.album {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -5px;

  &__item {
    margin: 5px;
    flex: 0 1 calc(33.33% - 10px);
    max-width: 290px;

    img {
      width: 100%;
      height: auto;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    &__mono {
      mix-blend-mode: darken;
      @media (prefers-color-scheme: dark) {
        mix-blend-mode: lighten;
        filter: invert(100%) brightness(78%) sepia(100%) hue-rotate(225deg);
      }
    }
  }
  ul,
  li {
    position: relative;
    font-family: monospace, monospace;

    .icon {
      display: inline-flex;
      align-items: center;
      font-size: 0.9rem;
      margin-right: 0.1875em;
      transform: translateY(-10%);
      vertical-align: middle;
    }

    a {
      color: var(--color-primary);
      text-decoration: none;
      transition: color 0.2s ease;

      &:hover {
        color: var(--color-primary-offset);
        text-decoration: underline;
      }
    }
  }
}
