@use "../utils/variables";

.album-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 2rem;
  row-gap: 3rem;

  @include variables.bp(sm) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include variables.bp(md) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @include variables.bp(lg) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  &--offset {
    margin-block-start: 2.5rem;
  }
}
