@use "../utils/variables";
@use "../utils/mixins";

.album {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: variables.$spacing-x;
  padding: 1rem 0;

  @include mixins.mq(md) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 1;
    will-change: transform, opacity;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    &:hover,
    &:focus-visible,
    &:focus-within {
      z-index: 100;
      outline: none !important;
      box-shadow: none !important;
      background: transparent !important;

      .album__title {
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }
    }
  }

  &__cover {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    position: relative;
    z-index: 10;

    border: 2px solid variables.$gray;
    background-color: transparent;

    @media (prefers-color-scheme: dark) {
      border-color: variables.$gray-dark;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &__color {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      opacity: 0;
      will-change: opacity, filter, transform;
    }

    &__mono {
      position: relative;
      z-index: 1;

      @media (prefers-color-scheme: dark) {
        filter: invert(1);
        opacity: 0.9;
      }
    }
  }

  &__meta {
    font-family: variables.$font-family-monospace;
    font-size: 0.9rem;
    line-height: 1.4;
    position: relative;
    z-index: 5;
  }

  &__title {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  &__artist {
    display: block;
    opacity: 0.8;
    font-size: 0.85rem;
  }
}
