@use "../utils/mixins";

.footer {
  font-size: 0.875rem;
  padding: var(--space-lg) 0;
  border-top: 1px solid var(--color-border);

  a,
  button {
    color: var(--color-text);
    text-decoration: underline;

    @include mixins.hover-focus {
      text-decoration: none;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include mixins.mq(md) {
      flex-wrap: nowrap;
    }
  }

  &__item {
    flex-basis: 50%;
    margin-bottom: 0.5rem;

    @include mixins.mq(md) {
      flex: 0 0 auto;
      padding-right: 2.5rem;
      margin: 0;
    }

    @include mixins.mq(lg) {
      padding-right: 4rem;
    }

    &--right {
      flex-basis: 100%;
      margin-bottom: 0;

      @include mixins.mq(md) {
        margin-left: auto;
        padding-right: 0 !important;
      }
    }
  }

  &__icon {
    @include mixins.button-reset;
    display: inline-block;

    & + & {
      margin-left: 1rem;
    }
  }

  &__speedlify {
    text-decoration: none !important;
  }
}
