@use "../utils/variables";
@use "../utils/mixins";
.header {
  padding: var(--space-lg) 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.mq-down(lg) {
      flex-direction: column; // Mobilde alt alta
      align-items: flex-start;
    }
  }

  &__left {
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 0.5rem;

    @include mixins.mq(lg) {
      margin-bottom: 0;
    }
  }

  __nav {
    &__menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;

      @include mixins.mq(lg) {
        flex-direction: row;
        gap: 1.5rem;
      }
    }

    &__link {
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      font-weight: 600;
      transition: color 0.2s;

      &:hover,
      &:focus-visible {
        color: var(--color-primary);
      }
    }
  }
}
