@use "../utils/mixins";
@use "../components/page";
@use "../base/typography";

.journal {
  // Matches .post__header spacing/alignment
  &__title {
    @extend .page__header;
  }

  // Matches .post__content spacing/alignment
  &__intro {
    @include mixins.container-narrow;
  }

  // Matches .post__content spacing/alignment + adds separation between entries
  &__entry {
    @include mixins.container-narrow;
  }
}
