@use "../utils/mixins";

.link-list {
  list-style-type: none !important;
  padding-left: 0;

  .icon {
    font-size: 1.5rem;
    margin-right: 0.25rem;
    transition: color 0.3s ease, opacity 0.3s ease;
  }
}

.link-list--status {
  font-family: var(--font-family-monospace);

  > li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    max-width: 100%;

    &.is-loading .icon {
      color: var(--color-status-loading, #ffa500);
      animation: status-breathe 1.5s ease-in-out infinite;
    }

    &.is-error .icon {
      color: var(--color-status-error, #ff0000);
      animation: none;
    }

    &.is-active .icon {
      color: var(--color-status-active, #22c55e);
      animation: status-breathe 2s ease-in-out infinite;
    }

    &.is-inactive .icon {
      color: var(--color-status-inactive, #ffa500);
      animation: none;
      opacity: 0.8;
    }

    &.is-changing .icon {
      color: var(--color-status-loading, #ffa500);
      animation: status-panic 0.2s ease-in-out infinite alternate;
    }

    .icon {
      flex-shrink: 0;
    }
    .status-text-wrapper {
      overflow: hidden;
      flex-grow: 1;
    }
    span[data-status] {
      display: inline-block;
      will-change: transform;
    }

    a {
      color: inherit;
      text-decoration: underline;
      text-decoration-style: dotted;
      transition: opacity 0.2s;
      &:hover {
        opacity: 0.7;
      }
    }
    @include mixins.hyphenate;
    cite {
      font-style: normal;
    }
  }
}

@keyframes status-breathe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes status-panic {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
