@use "../utils/mixins";
@use "../utils/variables";

.link-list {
  list-style-type: none !important;
  padding-left: 0;

  .icon {
    font-size: 1.5rem;
    margin-right: 0.25rem;
  }
}

.link-list--status {
  font-family: var(--font-family-monospace);
  > li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    max-width: 100%;

    .icon {
      flex-shrink: 0;
    }

    .status-text-wrapper {
      overflow: hidden;
      flex-grow: 1;
    }

    span[data-status] {
      display: inline-block;
      will-change: transform;
    }

    a {
      color: inherit;
      text-decoration: underline;
      text-decoration-style: dotted;
      transition: opacity 0.2s;

      &:hover {
        opacity: 0.7;
      }
    }

    @include mixins.hyphenate;

    cite {
      font-style: normal;
    }
  }
}
