@use "../utils/mixins";
@use "../utils/variables";

.markdown {
  @include mixins.body-text();

  /* Vertical Rythm */
  > * {
    margin-bottom: 2rem;
  }

  a {
    @include mixins.hyphenate;
  }

  /* In-Text Links */
  p,
  li,
  blockquote {
    a:not(.btn) {
      box-shadow: inset 0 -2px 0 0 currentColor;
      border-bottom: 1px solid currentColor;

      @include mixins.hover-focus {
        color: #fff;
        box-shadow: inset 0 -1.25em 0 0 var(--color-primary);
        border-bottom-color: var(--color-primary);
        outline: none;
      }
    }
  }

  /* Images */
  img,
  video {
    // display: block;
    // max-width: 100%;
    height: auto;
    // margin: 0 auto 2rem;
    color: var(--color-text-offset);
    font-style: italic;
    text-align: center;
  }

  figure {
    max-width: none;
    margin: 2rem auto;
    text-align: center;

    img {
      margin-bottom: 0;
    }
  }

  figcaption {
    padding-top: 0.75rem;
    font-style: italic;
    font-size: 1rem;
  }

  /* Video */
  video {
    max-width: 100%;
    height: auto;
  }

  /* Rules */
  hr {
    text-align: center;
    width: 240px;
    height: 1px;
    margin: 4rem auto;
    border: 0px solid var(--color-border);
    background-color: var(--color-border);
  }

  /* Headings */
  h2,
  h3,
  h4 {
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 0.5em;

    &:first-child {
      margin-top: 0;
    }
    @include mixins.hover-focus {
      > .heading-anchor {
        opacity: 0.75;
      }
    }
  }

  .heading-anchor {
    display: none;
    position: absolute;
    top: 0;
    left: -1.25em;
    width: 1em;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    @include mixins.hover-focus {
      opacity: 1 !important;
    }

    @include mixins.mq(md) {
      display: block;
    }
  }

  /* Lists */
  ul,
  ol {
    list-style-position: outside;
    padding-left: 1em;
    li:not(:last-child) {
      margin-bottom: 0.25em;
    }
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }

  blockquote {
    margin: 2rem 0 2rem -35px;
    padding-left: 35px;
    border-left: 3px solid var(--color-secondary);
  }

  mark {
    color: var(--color-text);
    background-color: var(--color-border);
  }

  /* Tables */
  .table-wrapper {
    width: 100%;
    overflow-x: auto;
    margin: 2rem 0;
    border: 1px solid var(--color-border);
    border-radius: variables.$border-radius;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 600px;
  }

  th,
  td {
    padding: 0.75rem 1rem;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid var(--color-border);
  }

  th {
    background-color: var(--color-bg-offset);
    font-weight: 700;
    white-space: nowrap;
  }

  tr:last-child td {
    border-bottom: none;
  }

  td code {
    white-space: pre-wrap;
    word-break: break-word;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 0.85rem;
    font-family: variables.$font-family-monospace;
  }

  /* Code blocks */
  pre[class*="language-"] {
    display: block;
    font-size: 1rem;
    padding: 2rem 1.5rem;
    overflow-x: auto;

    .note & {
      border-radius: 0.5rem;
    }

    > code {
      display: block;
    }

    @include mixins.mq(lg) {
      padding: 2rem 3rem;
    }
    @media screen and (min-width: 1040px) {
      .post & {
        border-radius: variables.$border-radius * 2;
      }
    }
  }

  /* Inline code */
  :not(pre) > code {
    display: inline-block;
    font-family: variables.$font-family-monospace;
    background-color: var(--color-bg-offset);
    border: 1px solid var(--color-border);
    border-radius: variables.$border-radius;
    padding: 2px 4px;
    font-size: 75%;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  /* iframe container */
  .embed {
    height: 0;
    position: relative;

    &--16-9 {
      padding-bottom: 56.25% !important;
    }

    &--4-3 {
      padding-bottom: 75% !important;
    }

    video,
    iframe {
      @include mixins.coverall;
      width: 100% !important;
      height: 100%;
      z-index: 2;
    }
  }

  /* Extends */
  .extend {
    @include mixins.mq(lg) {
      margin-left: -3rem;
      margin-right: -3rem;
    }
  }
}
