@use "../utils/variables";
@layer components {
  .miniflux-index {
    column-count: 1;
    column-gap: 3rem;
    column-rule: 1px solid var(--color-border);
    margin-block-start: 3rem;

    @include variables.bp(md) {
      column-count: 2;
    }
  }
}
