@use "../utils/mixins";

.page {
  &__header {
    padding: 2rem 0;
  }
  &__content {
    @include mixins.container-narrow;
    padding-bottom: 2rem;

    &--fullwidth {
      max-width: none;
    }
  }
}
