@use "../utils/mixins";

.postlist {
  @include mixins.container-narrow;
  list-style: none;
  padding: 0;

  &__item {
    border-bottom: 1px solid var(--color-border);
    padding: 1.5rem 0;
    transition: background-color 0.2s ease-in-out;

    &:last-child {
      border-bottom: none;
    }
  }

  &__link {
    text-decoration: none;

    .postlist__item--draft & {
      color: var(--color-secondary);
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 0.5rem;
  }

  &__meta {
    color: var(--color-text-offset);
    font-size: 0.875rem;
  }
  &__tags {
    align-self: center;
    font-style: italic;
  }
  &__status {
    font-weight: 700;
    color: var(--color-secondary);
  }
  &__excerpt {
    @include mixins.body-text();
  }
}
