@use "../utils/mixins";

.status {
  font-family: "DotGothic16", monospace;
  list-style-type: none !important;
  word-break: break-word;
  overflow-wrap: break-word;

  .icon {
    font-size: 1.5rem;
    margin-right: 0.25rem;
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  li {
    @include mixins.hyphenate;
  }

  cite {
    font-style: normal;
  }
}
