{{ set headerContent }}
  <div class="site-header__bar">
    <div class="reveal-self">
      {{ comp.layout.Breadcrumbs(it) }}
    </div>
  </div>
{{ /set }}

<header
  id="site-header"
  class="site-header"
  aria-label="Site Header"
>
  {{
    comp.layout.Container({
      width: "narrow",
      content: headerContent,
    })
  }}
</header>
