# Git LFS
# Track image assets
*.webp filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
# Specific directories for safety
src/assets/images/gallery/** filter=lfs diff=lfs merge=lfs -text
src/assets/images/events/** filter=lfs diff=lfs merge=lfs -text
src/assets/images/covers/** filter=lfs diff=lfs merge=lfs -text
src/assets/images/posters/** filter=lfs diff=lfs merge=lfs -text
src/assets/images/events/**/*.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/images/events/**/*.png filter=lfs diff=lfs merge=lfs -text
src/assets/images/gallery/**/*.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/images/gallery/**/*.png filter=lfs diff=lfs merge=lfs -text
src/assets/images/posters/**/*.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/images/covers/**/*.webp filter=lfs diff=lfs merge=lfs -text
src/assets/images/covers/**/*.png filter=lfs diff=lfs merge=lfs -text
src/assets/images/**/*.jpg filter=lfs diff=lfs merge=lfs -text
src/assets/images/**/*.png filter=lfs diff=lfs merge=lfs -text
src/assets/images/**/*.webp filter=lfs diff=lfs merge=lfs -text
src/_data/*.json !text !filter !merge !diff
