<a
  href="{{ href }}"
  class="
    inline-flex items-center gap-2
    text-xs font-bold uppercase tracking-widest
    text-text-muted hover:text-primary
    no-underline transition-colors
    {{ classes }}
  "
>
  {{
    comp.ui.Icon({
      name: "arrow-left",
      type: "lucide",
      classes: "w-4 h-4",
    })
  }}
  {{ text }}
</a>
