{{#
  Component: Card (Primitive)
  A container for content with consistent styling.
#}}
{{- set tag = href ? "a" : "div" -}}
<{{ tag }} {{ if href }}href="{{ href }}"{{ /if }} class="rounded-xl border
border-border bg-surface/30 transition-all {{ classes }}" {{
  attributes
  |> attr
  |> safe
}}>{{ content |> safe }}</{{ tag }}>
