<svg
  src="{{ name |> icon(type || 'lucide') }}"
  class="inline-block text-[1.5em] h-[1em] w-[1em] align-middle pointer-events-none {{ if filled }}fill-current{{ /if }} {{ classes }}"
  inline
>
</svg>
