{{#
  Component: IncomingLinks (Content-aware wrapper)
  Reworked: Ultra-minimalist backlink references.

  Props:
    - backlinks: Array of { title, url, date }
    - classes: additional classes
#}}

{{ if it.backlinks && it.backlinks.length > 0 }}
  <div
    class="incoming-links {{ it.classes }}"
  >
    <div class="incoming-links__row">
      <h3 class="incoming-links__title">
        Linked from
      </h3>

      <ul class="incoming-links__list">
        {{ for link of it.backlinks }}
          <li>
            <a
              href="{{ link.url }}"
              class="incoming-links__link"
            >
              <span class="incoming-links__name">
                {{ link.title || "Untitled" }}
              </span>
              <time class="incoming-links__date">
                {{ link.date |> date("dd MMM") }}
              </time>
            </a>
          </li>
        {{ /for }}
      </ul>
    </div>
  </div>
{{ /if }}
