{{ set footerClass = "listing-footer" }}
{{ if it.compact }}{{ set footerClass = footerClass + " listing-footer--compact" }}{{ /if }}
{{ if it.classes }}{{ set footerClass = footerClass + " " + it.classes }}{{ /if }}

<footer class="{{ footerClass }}">
  <div class="listing-footer__label typography-sublabel">
    {{ it.leftText || "" }}
  </div>
  <div class="listing-footer__action reveal-slide-right">
    <span class="typography-sublabel">{{ it.text || "details" }}</span>
    {{ await it.comp.base.Icon({ name: "arrow-right", classes: "w-3 h-3" }) }}
  </div>
</footer>
