<article class="miniflux-item">
  <div class="miniflux-item__header">
    <span class="miniflux-item__index">
      Entry No. {{ it.index + 1 }}
    </span>
    <h3 class="miniflux-item__title">
      <a
        href="{{ it.item.url }}"
      >
        {{ it.item.title }}
      </a>
    </h3>
  </div>

  <div class="miniflux-item__source-row">
    <span class="miniflux-item__source-badge">
      Source
    </span>
    <code class="miniflux-item__source-code">
      {{ it.item.feed }}
    </code>
  </div>

  <div class="miniflux-item__body">
    {{ if it.item.scraper_rules }}
      <div>
        <p class="miniflux-item__rule">
          {{ it.item.scraper_rules }}
        </p>
      </div>
    {{ /if }}

    {{ if it.item.content_rewrite_rules }}
      <div>
        <p class="miniflux-item__rewrite">
          {{ it.item.content_rewrite_rules }}
        </p>
      </div>
    {{ /if }}
  </div>
</article>
