{{#
  Component: WebmentionItem (Content-aware wrapper)
  Displays a single webmention comment/reply.

  Props:
    - webmention: object (required)
    - classes: additional classes
    - attributes: object
#}}

{{ set isOwn = it.webmention |> isOwnWebmention }}

<div
  id="webmention-{{ it.webmention["wm-id"] }}"
  class="u-comment h-cite webmention-item {{ isOwn ? "webmention-item--own" : "" }} {{ it.classes }}"
  {{ it.attributes |> attr |> safe }}
>
  <header class="webmention-item__header">
    <div class="webmention-item__author p-author h-card">
      {{# Author Image #}}
      <div class="webmention-item__avatar">
        {{ if it.webmention.author.photo }}
          <img
            class="u-photo"
            src="{{ it.webmention.author.photo }}"
            alt="{{ it.webmention.author.name |> escape }}"
            width="32"
            height="32"
            loading="lazy"
          />
        {{ else }}
          <div class="webmention-item__avatar-fallback">
            {{ await it.comp.base.Icon({ name: "user", classes: "w-4 h-4" }) }}
          </div>
        {{ /if }}
      </div>

      {{# Author Name and Action #}}
      <div class="webmention-item__author-text">
        <a
          class="webmention-item__author-name p-name u-url"
          {{ if it.webmention.author.url }}href="{{ it.webmention.author.url }}"{{ /if }}
          target="_blank"
          rel="ugc nofollow"
        >
          {{ it.webmention.author.name }}
        </a>
        <div class="webmention-item__action">
          {{ if it.webmention["wm-property"] === "in-reply-to" }}
            replied
          {{ else if it.webmention["wm-property"] === "mention-of" }}
            mentioned
          {{ else }}
            interacted
          {{ /if }}
        </div>
      </div>
    </div>

    {{# Date #}}
    {{ if it.webmention.published }}
      <time
        class="webmention-item__date dt-published"
        datetime="{{ it.webmention.published }}"
      >
        {{ it.webmention.published |> date("dd MMM yyyy") }}
      </time>
    {{ /if }}
  </header>

  {{# Content #}}
  <div class="webmention-item__content e-content markdown">
    {{ it.webmention.content.value |> safe }}
  </div>
</div>
