{{#
  Component: WebmentionFaces
  Minimalist display for interaction faces (likes, reposts).

  Props:
    - mentions: Array of filtered webmention objects (required)
#}}

{{# Split mentions by type #}}
{{
  set interactions = it.mentions.filter((m) =>
    m["wm-property"] === "like-of" || m["wm-property"] === "repost-of"
  )
}}

{{# 1. FACES (Interactions) #}}
{{ if interactions.length > 0 }}
  <div class="wm-faces">
  <div class="wm-faces__stack">
      {{ for mention of interactions }}
        <div
          class="wm-face"
          title="{{ mention.author.name }}"
        >
          <div class="wm-face__img-wrap">
            {{ if mention.author.photo }}
              <img
                src="{{ mention.author.photo }}"
                alt="{{ mention.author.name |> escape }}"
                width="48"
                height="48"
                loading="lazy"
                decoding="async"
                class="wm-face__img"
              />
            {{ else }}
              <div class="wm-face__placeholder">
                {{ await it.comp.base.Icon({ name: "user" }) }}
              </div>
            {{ /if }}
          </div>
        </div>
      {{ /for }}
    </div>
</div>
{{ /if }}
