<!DOCTYPE html>
<html lang="{{ site.lang }}" class="{{ htmlClass }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
      {{ if title }}{{ title }} | {{ site.title }}{{ else }}{{ site.title }}{{
        /if
      }}
    </title>
    <link
      rel="preload"
      href="{{ '/assets/fonts/JosefinSans-VariableFont_wght.woff2' |> url }}"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="{{ '/assets/fonts/Inconsolata.woff2' |> url }}"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="preconnect" href="https://ege.celikci.me" />
    <link rel="preconnect" href="https://webmention.io" />
    <link rel="modulepreload" href="/assets/scripts/main.js">
    <link rel="stylesheet" href="/assets/styles/main.css" inline />

    {{ include "meta.vto" }}
    {{ if !build.dev && build.umamiScript && build.umamiId }}
      <script
        defer
        src="{{ build.umamiScript }}"
        data-website-id="{{ build.umamiId }}"
      ></script>
    {{ /if }}
  </head>
  <body class="overflow-x-hidden print:bg-white print:text-black">
    <a
      href="#main"
      class="sr-only focus:not-sr-only focus:absolute focus:z-[9999] focus:left-1/2 focus:top-0 focus:text-base focus:-translate-x-1/2 bg-surface focus:text-white focus:rounded-b-lg focus:px-6 focus:py-4 focus:outline-none focus:whitespace-nowrap print:hidden"
    >skip to main content</a>

    <div class="hfeed flex flex-col min-h-screen relative" role="document">
      <div class="flex-none print:hidden">
        {{ include "header.vto" }}
      </div>

      <main
        class="flex flex-col grow shrink-0 w-full md:px-0 mx-auto pt-12 md:pt-16"
        role="main"
        id="main"
        tabindex="-1"
      >
        {{ content |> safe }}
      </main>
      <div class="flex-none print:hidden">
        {{ include "footer.vto" }}
      </div>
    </div>
    <script type="module" src="/assets/scripts/main.js"></script>
  </body>
</html>
