---
layout: layouts/base.vto
---

<article>
  {{ if title }}
    {{ comp.ui.pageHeader({
      title: title,
      subtitle: subtitle,
      centered: true,
      width: "w-full"
    }) }}
  {{ /if }}

  {{ comp ui.container { 
      width: "max-w-[var(--container-narrow)]", 
      classes: "pb-20 markdown text-lg leading-relaxed" 
  } }}
      {{ content |> safe }}
  {{ /comp }}
</article>