---
title: writing
description: "a blog I don't use very often"
prose: false
searchable: false
noindex: true
menu:
  group: entries
  title: writing
  label: "blog & essays"
  order: 1
navigation:
  parent: /
---

{{> const posts = search.pages("type=post", "date=desc") }}
{{ await it.comp.ui.EntryTimeline({ entries: posts, groupBy: "year" }) }}
