---
title: bookmarks
description: "curated collection of favorite links & resources"
prose: false
label: internet
sections:
  - title: People
    category: person
    blogroll: true
  - title: Tools & Projects
    category: tool
  - title: 88x31 Buttons
    retro: true
---

{{ comp.features.Bookmarks({ sections: sections, bookmarks: bookmarks }) }}
