---
layout: page
title: "games"
eleventyNavigation:
  key: games
  order: 3
permalink: /games/
---

<ul>
  {% for game in games.games %}
    <li>
      <a
        href="https://store.steampowered.com/app/{{ game.appid }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <cite>{{ game.name }}</cite>
      </a>
    </li>
  {% endfor %}
</ul>
