---
layout: page
title: "music"
description: "a collection of favorite music albums."
eleventyNavigation:
  key: music
  order: 2
permalink: /music/
subtitle: >-
  favorite music albums, in random order.
---

automatically fetched from my public
<a href="https://critiquebrainz.org/user/{{ author.username }}">album ratings</a
>.<br /><a href="{{ "/blog/music-page" | url }}">learn more about this page</a>

<div class="album">
  {% for album in music.albums | shuffle %}
    {% set artistNames = "" %}
    {% for ac in album["artist-credit"] %}
      {% if not loop.first %}{% set artistNames = artistNames + " · " %}{% endif %}
      {% set artistNames = artistNames + ac.name %}
    {% endfor %}

    <a
      href="https://listenbrainz.org/album/{{ album.id }}"
      class="album__item"
      title="{{ album.title }} by {{ artistNames }}"
    >
      <div class="album__cover">
        <img
          class="album__cover__color lazy-hover"
          data-src="/assets/images/covers/{{ album.id }}_color.png"
          alt=""
          width="290"
          height="290"
        />
        <img
          class="album__cover__mono"
          src="/assets/images/covers/{{ album.id }}.png"
          alt="{{ album.title }} by {{ artistNames }}"
          loading="lazy"
          width="290"
          height="290"
        />
      </div>

      <div class="album__meta">
        <span class="album__title">{{ album.title }}</span>
        <span class="album__artist">{{ artistNames }}</span>
        <span class="album__year" style="opacity: 0.5">
          ({{ album["first-release-date"] | dateFromISO | readableDate("yyyy") }})
        </span>
      </div>
    </a>
  {% endfor %}
  {%- set webmentionUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
  {% include 'webmentions.njk' %}
</div>
