---
title: music
description: "curated collection of favorite albums"
searchable: false
prose: false
menu:
  group: collections
  label: favorite albums
  order: 2
headerExtension:
  comp: "layout.SourceMeta"
  props:
    label: CritiqueBrainz
    icon: music
    url: https://critiquebrainz.org/user/egecelikci
---

<div class="album-grid album-grid--offset">
  {{
    for i, album of music.albums
    |> sort((a, b) => new Date(b.ratedAt) - new Date(a.ratedAt))
  }}
    {{
      comp.ui.Album({
        album: album,
        priority: i < 15,
      })
    }}
  {{ /for }}
</div>
