---
layout: page
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - drafts
    - posts
permalink: /tag/{{ tag | slugify }}/
eleventyComputed:
  title: "tagged “{{ tag }}”"
  description: "Posts tagged with “{{ tag }}”."
---

{%- set postlist = collections[tag] | default([]) -%}
{% include "postlist.njk" %}
