---
layout: page
pagination:
  data: collections.postTags
  size: 1
  alias: tag
permalink: /tag/{{ tag | slugify }}/
eleventyComputed:
  title: "tagged “{{ tag }}”"
  description: "Posts tagged with “{{ tag }}”."
---

{%- set postlist = collections[tag] | default([]) -%}
{% include "postlist.njk" %}
