---
permalink: _headers
eleventyExcludeFromCollections: true
---
/*
  X-Frame-Options: DENY
  X-Content-Type-Options: nosniff
  Referrer-Policy: strict-origin-when-cross-origin
  Permissions-Policy: interest-cohort=()
  Content-Security-Policy: default-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; connect-src 'self' https://speedlify.ege.celikci.me; frame-src 'self'; object-src 'none'; base-uri 'self'; form-action 'self'

/assets/styles/*
  Content-Security-Policy: default-src 'self' 'unsafe-inline'; style-src 'self'; img-src 'self' data:; connect-src 'self'; frame-src 'self'; object-src 'none'; base-uri 'self'; form-action 'self'

/sw.js
  Cache-Control: max-age=0,no-cache,no-store,must-revalidate