---
permalink: /blogroll.xml
excludeFromSitemap: true
---
<?xml version="1.0" encoding="UTF-8"?>
<opml version="1.0">
  <head>
    <title>blogroll RSS feeds</title>
  </head>
  <body>
    {% for item in bookmarks %}
      {% if item.category == 'person' %}
        {% if item.feed %}
        <outline
          type="rss"
          title="{{ item.title }}"
          xmlUrl="{{ item.feed }}"
          htmlUrl="{{ item.url }}"
        />
      {% endif %}
      {% endif %}
    {% endfor %}
  </body>
</opml>
