---
layout: page
title: home
eleventyNavigation:
  key: home
  order: 1
permalink: /
---

<h2>links</h2>
<ul class="about__social">
  <li>
    {% icon "music" %}<a
      href="https://listenbrainz.org/user/{{ author.username }}"
      >ListenBrainz</a
    >
  </li>
  <li>
    {% icon "gamepad" %}<a
      href="https://steamcommunity.com/id/{{ author.username }}"
      >Steam</a
    >
  </li>
  <li>
    {% icon "message-circle-dashed" %}<a
      href="{{ author.social.signal.url | decodeBase64 }}"
      >Signal</a
    >
  </li>
  <li>
    {% icon "mail" %}<a href="mailto:{{ author.email | obfuscate | safe }}"
      >Email</a
    >
  </li>
  <li>
    {% icon "matrix" %}<a
      href="https://matrix.to/#/@{{ author.social.matrix.username }}:{{ author.social.matrix.metropolis.host }}"
      rel="me"
      >Matrix</a
    >
    <a
      href="keys#matrix"
      title="view Matrix encryption keys"
      aria-label="view Matrix encryption keys"
    >
      <span class="sr-only">view Matrix encryption keys</span>
      {% icon "key" %}
    </a>
  </li>
  <li hidden>
    {% icon "github" %}<a
      href="https://github.com/{{ author.username }}"
      rel="me"
      >GitHub</a
    >
  </li>
  <li hidden>
    {% icon "mastodon" %}<a href="{{ author.social.mastodon.url }}" rel="me"
      >Mastodon</a
    >
  </li>
</ul>

<h2>status</h2>
<ul>
  <li class="status">
    {% icon "headphones" %}
    <div class="status-text-wrapper" id="music-status-container">
      <span data-chars="█" data-status="">███████████████</span>
    </div>
  </li>
  <li class="status">
    {% icon "gamepad" %}
    <div class="status-text-wrapper" id="game-status-container">
      <span data-chars="█" data-status="">███████████████</span>
    </div>
  </li>
</ul>
