// ---------------------------------
// MASTER STYLESHEET INDEX
// ---------------------------------

//--------------------
// UTILITIES
//--------------------

@use "utils/functions";
@use "utils/variables";
@use "utils/mixins";

//--------------------
// BASE MODULES
// partials with global scope
//--------------------

@use "base/fonts";
@use "base/normalize";
@use "base/reboot";
@use "base/layout";
@use "base/typography";
@use "base/focus";
@use "base/utilities";
@use "base/screenreader";
@use "base/animation";
@use "base/syntax";

//--------------------
// COMPONENTS
// partials with local scope to a component
//--------------------

@use "components/album";
@use "components/button";
@use "components/footer";
@use "components/header";
@use "components/icon";
@use "components/journal";
@use "components/lightbox";
@use "components/linklist";
@use "components/markdown";
@use "components/nav";
@use "components/note";
@use "components/page";
@use "components/post";
@use "components/postlist";
@use "components/webmention";

//--------------------
// VENDOR
// third-party styles
//--------------------

@use "vendor/speedlify";
