---
layout: page
---

{% set entries = content.split("<h2") %}

{% for entry in entries %}
  {% if loop.first %}
    {{ entry | safe }}
  {% else %}
    <article>
      <h2{{ entry | safe }}
    </article>
  {% endif %}
{% endfor %}