---
layout: base
---

<h1 class="journal__title title">
  {{ title }}
</h1>

{% set entries = content.split("<h2") %}

{% if entries[0] %}
  <div class="journal__intro markdown">
    {{ entries[0] | safe }}
  </div>
{% endif %}

{% for entry in entries %}
  {% if not loop.first %}
    <article class="journal__entry markdown">
      <h2{{ entry | safe }}
    </article>
  {% endif %}
{% endfor %}