<article class="mb-12">
  <h2 class="text-[1.5rem] mb-4 border-b border-border pb-2 font-bold">
    {{ date |> date("yyyy-MM-dd") }}
  </h2>

  <div class="markdown">
    {{ content }}
  </div>
</article>